<div class="login-container">
  <div class="login-card animate__animated animate__fadeIn">
    <h1>Inventario Nacional Forestal</h1>
    <p>Inicia sesión para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="correo" placeholder="ejemplo@ideam.gov.co" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-flat-button color="primary" class="full-width" type="submit">
        Iniciar sesión
      </button>
    </form>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
  </div>
</div>
