<app-navbar></app-navbar>

<div class="brigada-wrapper">
  <div class="brigada-card">
    <h2>🧑‍🤝‍🧑 Registro de Brigada</h2>

    <form [formGroup]="brigadaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre de la Brigada</label>
        <input id="nombre" formControlName="nombre" placeholder="Ejemplo: Brigada Alfa">
      </div>

      <div class="form-group">
        <label for="lider">Líder de Brigada</label>
        <select id="lider" formControlName="lider">
          <option value="">Seleccione un líder</option>
          <option *ngFor="let l of lideres" [value]="l._id">
            {{ l.nombre }} {{ l.apellido }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="conglomerado">Conglomerado Asignado</label>
        <select id="conglomerado" formControlName="id_conglomerado">
          <option value="">Seleccione un conglomerado</option>
          <option *ngFor="let c of conglomerados" [value]="c._id">
            {{ c.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha de Asignación</label>
        <input id="fecha" formControlName="fecha_asignacion" [disabled]="true">
      </div>


      <button type="submit" [disabled]="brigadaForm.invalid">💾 Guardar Brigada</button>
    </form>
  </div>
</div>
